<div class="row">
  {{#each}}
  <div class="col-sm-6 col-md-4">
    {{#link-to 'cake' this class='thumbnail'}}
      <img {{bind-attr src=primaryPhoto.url}} {{bind-attr alt=name}}>
    {{/link-to}}
  </div>
  {{/each}}
  <div class="col-sm-12 col-md-12">
    {{page-numbers content=content}}
    {{outlet}}
  </div>
</div>
