<div class="row">
  {{#each}}
  <div class="col-sm-2 col-md-2">
    {{#link-to 'cake' this class='thumbnail'}}
      <img {{bind-attr src=primaryPhoto.thumbUrl}} {{bind-attr alt=name}}>
    {{/link-to}}
  </div>
  {{/each}}
</div>
{{outlet}}

<button {{action 'nextPage'}}>More...</button>
